.heroes-box {
  display: flex;
  flex-direction: row;

  .hero {
    .hero-thumbnail {
      background-size: cover;
      background-position: center center;
      height: 200px;
      width: 150px;
      border-radius: 5px;
    }
  }
}
